html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height:100vh;
}

.fix-height-main-tag {
    height:100%;
}

.fix-heigth-root-container {
    height: 100%;
    margin: 0;
}
.fix-padding-root-container {
    padding-left:0.5%;
    padding-right:0%;

}
